* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
#modal_1 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.modal_display {
  display: block !important ;
}
.modal_nodisplay {
  display: none;
}
#modal_1 .modal_close {
  text-decoration: none;
  display: block;
  color: #fff;
  opacity: 0.7;
  font-size: 20px;
  text-align: right;
  font-weight: bolder;
}
#modal_1 .modal_box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#modal_1 .modal_btn {
  border: none;
  background: rgba(0, 0, 0, 0.1);
  border: none;
}
#modal_1 input {
  border-radius: 10px 0 0 10px;
  height: 50px;
  width: 400px;
}
#modal_1 .btn_search {
  color: #fff;
  background-color: rgb(24, 154, 70, 0.9);
  border-radius: 0 10px 10px 0;
  border: none;
  width: 100px;
}
#modal_1 .btn_search:hover {
  color: #fff;
  background-color: #189a46;
}
/* HEADER  */
header .navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: #189a46;
}
header .navbar-brand:hover {
  color: #189a46;
}

#navbarNav ul li {
  margin: 0 10px;
}
#navbarNav ul li .active {
  color: #189a46;
}
#navbarNav ul li a {
  color: #000;
  line-height: 70px;
  font-size: 1.2rem;
}
#navbarNav > ul > li > a {
  position: relative;
  padding: 0;
  margin-right: 10px;
}
#navbarNav > ul > li > a::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #189a46;
  opacity: 0;
  transition: all 0.5s;
}
#navbarNav > ul > li:hover > a::before {
  width: 100%;
  opacity: 1;
  color: #189a46;
}
#navbarNav > ul > li > a:hover {
  color: #189a46;
  transition: all 0.5s;
}
#navbarNav > ul > li > a {
  position: relative;
  padding: 0;
  margin-right: 10px;
}
#navbarNav > ul > li > ul > li > a {
  position: relative;
  padding: 0;
  margin-right: 10px;
}
#navbarNav ul > li > ul > li > a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #189a46;
  opacity: 0;
  transition: all 0.5s;
}
#navbarNav ul > li > ul > li > a:hover::before {
  width: 100%;
  opacity: 1;
  color: #189a46;
}
#navbarNav ul > li > ul > li > a:hover {
  color: #189a46;
  transition: all 0.5s;
  opacity: 1;
  background-color: white;
}
header .dropdown-item {
  display: inline;
  width: 100%;
  overflow: hidden;
}
header .icon_search {
  height: 40px;
  width: 40px;
  color: #189a46;
  background-color: #f9f7fe;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 15px;
}
header .icon_search a {
  padding: 12px;
}
header .icon_search:hover {
  color: #f9f7fe;
  background-color: #189a46;
  transition: all 0.2s;
}
/* SUN MOON  */
.sun_moon {
  width: 50px;
  padding: 0 15px;
}
.sun_moon i {
  font-size: 25px;
}

#sunOn {
  display: none;
}
#moonOn {
  display: block;
}
.display_block {
  display: block !important;
}
.display_none {
  display: none !important;
}
/* dark & light  */
.darkBody#myBody {
  color: #fff;
  background-color: #404040;
}
